html, body {
  height: 100%;
}

#wrap {
  min-height: calc(100% - 60px);
  height: auto;
  padding-bottom: 80px;
}

#footer {
  height: 60px;
  padding-top: 10px;
  background-color: #f5f5f5;
  margin-top: -60px;
  clear: both;
}
